<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Functional test suite" verbose="10">

	<parameter name="browser" value="Chrome" />
	<parameter name="report" value="C:\\Reports\" />
	<parameter name="environment" value="Beta" />

		
	<test name="Site Portal Guest Related testcases">


		<parameter name="suite_name" value="Guest" />
		<parameter name="username" value="" />
		<parameter name="password" value="" />


		<classes>
			<class name="com.site.tests.testcases.Guest" />

		</classes>

	</test>
	
	<test name="Site Portal Registerd User testcases">
		
		<parameter name="suite_name" value="Registered User" />
		<parameter name="username" value="test@gmail.com" />
		<parameter name="password" value="Password1" />
		
		<classes>
			<class name="com.site.tests.testcases.RegisteredUser" />
		</classes>
	</test>
	
	

</suite>
